@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --cor-neutra: #;
    --lilas-neutro: #B8AADB;
    --rosa-pink: #D560DB;
    --lilas-rosado: #AD60DB;
    --lilas-arroxeado: #8460DB;
    --roxo-azulado: #6065DB;
    --azul: #4C7DDB;
}

* {
    margin: 0;
    top: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;    font-size: 30px;
}

#sobremim, #respostas {
    background: linear-gradient(to bottom, var(--rosa-pink), var(--lilas-rosado), var(--lilas-arroxeado), var(--roxo-azulado), var(--azul));
}

#capa, .experiencias, #contatos {
    background-color: #5b2ec65d;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 110vh;
    box-sizing: border-box;
    border: 2px solid var(--lilas-arroxeado);
    padding: 10px 10px;
}

h1 {
    background: linear-gradient(to left, var(--rosa-pink), var(--lilas-rosado), var(--lilas-arroxeado), var(--roxo-azulado), var(--azul));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 200px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

h3 {
    color: #4C7DDB;
}

img {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    margin-top: 40px;
    border-radius: 30px;
}

figure {
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 15px;
    max-width: 85vw;
}

h3 {
    font-size: 50px;
    color: var(--roxo-azulado);
    font-weight: bold;
    font-family: "Patua One", serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #8054e8;
    font-weight: bolder;
    text-decoration: underline;
}

li {
    font-size: 20px;
}

label {
    text-align: center;
    margin-bottom: 30px;
}

#form {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    margin-bottom: 20px;
}

#extra {
    border: 0px solid white;
}

#extra img {
    width: 350px;
    height: 350px;
    margin: 10px 80px;
}

.box {
    background-color: #e1b3e3;
    border-radius: 30px;
    border: 5px solid #de9ee1;
    padding: 10px 30px;
    margin-top: 20px;
}

.experiencias .box {
    background-color: #e2c5e3d8;
}

#contatos {
    padding-bottom: 0;
}

#contatos h3 {
    color: black;
    font-size: 40px;
    text-shadow: none;
}

#contatos h1{
    font-size: 85px;
}

#contatos img {
    width: 120px;
    height: 120px;
}

#contatos figure {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

#contact_me {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#contact_me div {
    margin: 0px 20px;
}

#coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

input[type="checkbox"] {
    width: 25px; /* Largura do checkmark */
    height: 25px; /* Altura do checkmark */
    margin-left: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1150px){
    #contatos h1 {
        font-size: 60px;
    }

    h1 {
        font-size: 120px;
    }

    h3 {
        font-size: 35px;
    }

    * {
        font-size: 20px;
    }

    img {
        width: 280px;
        height: 280px;
    }

    li {
        font-size: 15px;
    }
}